a {
  color: #885df1;
}
body {
  background-color: aliceblue;
  font-family: "Playfair Display", serif;
}

.weatherapp {
  background: rgb(154, 206, 240);
  border-radius: 20px 15px;
  max-width: 800px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid white;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: white;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  font-size: 16px;
  border: none;
  border-radius: 6px;
  color: blueviolet;
  background: white;
  padding: 15px 30px;
  margin-left: 5px;
}
main {
  padding: 30px 0;
}
.app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #f65282;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.weather-app-unity {
  margin-top: 6px;
  font: size 28px;
}
footer {
  border-top: 1px solid #f9f7ff;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
